<div class="container">
    <div class="section">
        <app-panel padding="narrow">
        </app-panel>
    </div>
  
  </div>

  <div class="container">
    <div class="row">
        <div class="col">
         <div class="section2">
             <app-panel padding="narrow">
             </app-panel>
           </div>
        </div>
    </div> 
    <div class="row">
     <div class="col">
      <div class="section2">
          <app-panel padding="narrow">
          </app-panel>
        </div>
     </div>
 </div> 
  </div>