.bullet {
    min-height: 50px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid lightgray;
    font-weight: bold;
  
    display: flex;
    align-items: rigth;
    justify-content: center;
  }
